!mimeapps.list
!nvim/**
!sway/**
!waybar/**
!foot/**
!mako/**


AmneziaVPN.ORG/
Thunar/
abrt/
containers/
copyq/
dconf/
google-chrome/
gtk-*/
guitarix/
htop/
lxqt/
mpv/
pipewire/
pulse/
pypoetry/
rncbc.org/
systemd/
transmission/
xarchiver/
xfce4/
QtProject.conf
pavucontrol.ini
user-dirs.*

nnn/
gh/
uv/
Postman/
Code/
Vial/
org.encroissant.app/
nextjs-nodejs/
create-next-app-nodejs/
libreoffice/
ibus/
go/
menus/
retroarch/

**/store.json
**/store.time
**/store.lock
zoom.conf
zoomus.conf

