!mimeapps.list
!nvim/**
!sway/**
!waybar/**
!foot/**
!mako/**


AmneziaVPN.ORG/
Thunar/
abrt/
containers/
copyq/
dconf/
google-chrome/
gtk-*/
guitarix/
htop/
lazygit/
lxqt/
mpv/
pipewire/
pulse/
pypoetry/
rncbc.org/
systemd/
transmission/
xarchiver/
xfce4/
QtProject.conf
pavucontrol.ini
user-dirs.*

nnn/
gh/
uv/
Postman/
Code/
Vial/




**/store.json
**/store.time
**/store.lock
