!mimeapps.list
!nvim/**
!sway/**
!waybar/**
!foot/**
!mako/**


AmneziaVPN.ORG/
Thunar/
abrt/
containers/
copyq/
dconf/
google-chrome/
gtk-3.0/
guitarix/
htop/
lxqt/
mpv/
pipewire/
pulse/
pypoetry/
rncbc.org/
systemd/
xarchiver/
xfce4/
QtProject.conf
pavucontrol.ini
user-dirs.*




